<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.shakeup.setofthree">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"

        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.FullScreen">

        <meta-data
            android:name="com.google.android.gms.games.APP_ID"
            android:value="@string/app_id" />

        <provider
            android:name=".contentprovider.generated.ScoreProvider"
            android:authorities="@string/score_provider_authority"
            android:exported="true" />

        <!--
        <service
            android:name=".widgets.LeaderboardWidgetService"
            android:permission="android.permission.BIND_REMOTEVIEWS" />

        <receiver android:name=".widgets.LeaderboardAppWidgetProvider">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/leaderboard_widget_provider_info" />
        </receiver>
        -->

        <activity
            android:name=".mainmenu.MainMenuActivity"
            android:alwaysRetainTaskState="true"
            android:label="@string/app_label"
            android:screenOrientation="portrait"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".multiplayergame.MultiplayerGameActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".timeattackgame.TimeAttackGameActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".normalgame.NormalGameActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".practicegame.PracticeGameActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".tutorial.TutorialActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>